// Use code4ro-specific header colors
$bright_grey: #eee;

.top-bar {
  background-color: $white !important;
  border-bottom: 1px solid $bright_grey;
  color: $black !important;
}

// Using 'Titillium' as it supports diacritics
footer .logo a {
  font-family: 'Titillium Web' !important;
}

// Lato vertically aligns the close button's 'x' to middle
.close-button {
  font-family: 'Lato';
}

// "How it works" cards
.card-text-over {
  position: relative;
  margin-bottom: 0;
  min-height: auto;
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    h3 {
      color: $white;
    }
  }
}

// Hero section from the landing page
// NOTE: hero image is disabled for now
// .home-header {
//   @extend .budget-header;
//   min-height: auto;
//   padding: 1.5rem 0;
//   padding-top: 3rem;
//   margin-bottom: 1.5rem;
//   margin-top: -1.5rem;

//   &.with-background-image {
//     background-size: auto;
//   }

//   h1 {
//     font-size: 2.75rem;
//     padding: 0;
//     margin: 0;
//     margin-bottom: 0.5rem;
//   }
// }

// Top of the screen language bar
.locale {
  a {
    color: $black;
  }
}

// Front-page banner
.jumbo-frontpage {
  @extend .jumbo;

  padding-bottom: 0;
  margin-bottom: 1rem;
}

// Remove bottom gutter from landing page cards
.card {
  margin-bottom: 3rem;
  &>a {
    height: auto;
  }
}

// Hero financed domains
.financed-domains {
  @include full-width-background;
  min-height: auto;
  padding: 2.5rem;
  padding-bottom: 0;
  margin: 0;
  color: $white;

  &::before {
    background: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2 {
    font-size: 1.2rem;
    border-bottom: 1px solid $white;
    font-weight: 600;
    padding-bottom: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .domain-card {
    padding-bottom: 3rem;
    // It looks like text-md-left is missing
    @media (min-width: 768px) {
      text-align: left;
    }

    img {
      height: 150px;
      width: 150px;
      background: transparent;
    }

    h3 {
      max-width: 50px;
      display: inline-block;
      margin-left: 0.8rem;
      font-weight: 400;
      font-size: 1.2rem;
      text-align: left;
    }
  }
}

.custom-page-header {
  @include full-width-background;
  margin-bottom: 1rem;
  min-height: 10rem;
  width: 100%;

  &>div { min-height: inherit; display: table; }
  h1 { display: table-cell; vertical-align: middle; }

  @media (max-width: 576px) {
    text-align: center;
  }

  &::before {
    background: var(--bgcolor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
