<div id="groups_and_headings" class="groups-and-headings">
  
<% budget.groups.each do |group| %>
  
  <div class="single-group-and-heading">  
  <h3 id="<%= group.name.parameterize %>"><%= group.name %></h3>

      <% group.headings.sort_by_name.each do |heading| %>
        <div class="simple-heading">
          <%= link_to_unless(
            (budget.informing? || budget.finished?),
            heading.name,
            budget_investments_path(budget.id, heading_id: heading.id)
          ) %>

          <%= price(heading) %>
        </div>
      <% end %>

    </div>

  <% end %>

</div>
